extends layout
block content

  h1 Relays

  .container
    .flexContainer.two
      each relay in relays
        - let colorActive = ''
        - if (relay.deletedAt) {
          - colorActive = 'background-color: indianred;'
        - } else
        - if (!relay.enabled) {
          - colorActive = 'background-color: darkgray;'
        - } else if (activeRelays[relay.idRelay]) {
          - colorActive = 'background-color: darkseagreen;'
        - }
        form.flexColumn(style=`padding: .5rem;${colorActive}`, method="POST", action=`/relay/${relay.idRelay}`)
          ul(style=`margin-bottom: 1rem;`)
            li idRelay:
              input(name='idRelay', placeholder='idRelay', required=true, value=relay.idRelay, disabled=true)
            li Relay Name:
              input(name='note', placeholder='note', required=true, value=relay.note)
            li Source idStreamKey:
              input(name='idStreamKey', placeholder='idStreamKey', required=true, value=relay.idStreamKey)
            if (relay.StreamKey)
              li Source StreamNote:
                input(value=relay.StreamKey.note, disabled=true)
              li Source StreamKey:
                div.flexContainer(style="justify-content: space-between;")
                  input.flexColumn.key(type='password', style="width: auto; flex-grow: 1", placeholder='key', required=true, value=relay.StreamKey.key, disabled=true)
                  button.button.buttonShowStreamKey(type='button', style="margin: 0; margin-left: .25rem;") Show
            else
              li
                | The attached is currently archived or deleted
            li Destination URL:
              input(name='url', placeholder='url', required=true, value=relay.url)
            li Destination Key:
              div.flexContainer(style="justify-content: space-between;")
                input.flexColumn(name='key', type='password', style="flex-grow: 1", placeholder='key', value=relay.key)
                button.button.buttonShowStreamKey(type='button', style="margin: 0; margin-left: .25rem;") Show
            li
              ul.flexContainer(style="justify-content: space-between;")
                li Status:
                  = ' '
                  if (relay.enabled)
                    | enabled
                  else
                    | disabled
                li Last Active:
                  = ' '
                  if (relay.lastActiveAt)
                    = moment(relay.lastActiveAt).fromNow()
                    = ' ('
                    = moment(relay.lastActiveAt).format()
                    = ')'
                  else
                    | never
            li
              ul.flexContainer(style="justify-content: space-around;")
                if (relay.deletedAt)
                  li
                    a.button(href=`/relay/${relay.idRelay}/delete?force=1`) Delete
                  li
                    a.button(href=`/relay/${relay.idRelay}/restore`) Restore
                else
                  li
                    button.button() Update
                  li
                    if (relay.enabled)
                      a.button(href=`/relay/${relay.idRelay}/disable`) Disable
                    else
                      a.button(href=`/relay/${relay.idRelay}/enable`) Enable
                  li
                    a.button(href=`/relay/${relay.idRelay}/delete`) Archive

    h2 Add new Relay
    form(method="POST", action=`/relay/create`)
      ul
        li Relay Name:
          input(name='note', placeholder='note', required=true)
        li Source idStreamKey:
          input(name='idStreamKey', placeholder='idStreamKey', required=false)
        li Destination Url:
          input(name='url', placeholder='url', required=true)
        li Destination Key:
          input(name='key', placeholder='key')
      button.button() Create Relay